body{
	background: url(/swzl/img/bg.png);
}
.m-padded-tiny{
	padding: 0.2 !important;
}
.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}
.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}
/* ........text....... */
.m-text{
	font-weight: 300 !important;
	letter-spacing: 1px !important;
	line-height: 1.8;
}
.m-text-thin{
	font-weight: 300 !important;
}
.m-text-spaced{
	letter-spacing: 1px !important;
}
.m-text-lined{
	line-height: 1.8;
}
/* ......margin...... */
.m-margin-tb-large{
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}
.m-margin-top-small{
	margin-top: 0.5em !important;
}
.m-margin-top{
	margin-top: 1em !important;
}

.m-margin-top-large{
	margin-top: 2em !important;
}
/* ......opacity...... */
.m-opacity-mini{
	opacity: 0.8 !important;
}
.m-opacity-tiny{
	opacity: 0.6 !important;
}
/* ......display...... */
.m-inline-block{
	display: inline-block !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
.m-container{
	max-width: 72em !important;
	margin: auto !important;
}
/* ......position ......*/
.m-right-top{
	position: absolute;
	top: 0;
	right: 0;
}
/* 图片 */
#imgPreview {
 width: 60%;
 height: 140px;

 border: 1px solid whitesmoke;
 text-align: center;
}
#prompt3 {
 width: 100%;
 height: 180px;
 text-align: center;
 position: relative;
}
#prompt5 {
 width: 100%;
 height: 180px;
 text-align: center;
 position: relative;
}
#imgSpan {
 position: absolute;
 top: 40px;
 left: 60px;
}
#imgSpan5 {
 position: absolute;
 top: 40px;
 left: 60px;
}
.filepath {
 width: 100%;
 height: 100%;
 opacity: 0;
}
#img3 {
 height: 100%;
 width: 100%;
 display: none;
}
#img5 {
 height: 100%;
 width: 100%;
 display: none;
}
#img2 {
    height: 100%;
    width: 100%;
    display: none;
}
#imgPreview1 {
    width: 100%;
    height: 180px;

    border: 1px solid whitesmoke;
    text-align: center;
}
#imgPreview5 {
    width: 100%;
    height: 180px;

    border: 1px solid whitesmoke;
    text-align: center;
}
#imgPreview2 {
    width: 100%;
    height: 180px;

    border: 1px solid whitesmoke;
    text-align: center;
}
#prompt2 {
    width: 100%;
    height: 180px;
    text-align: center;
    position: relative;
}
.ui.modal{
    top:15%;
}